@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 5rem;
}

.logo {
    height: 70px;
}

.social-logo {
    transition: transform 200ms;
}

.skill-logo {
    padding: 10px;
}

/*.skill-logo.caption {*/
/*    transition: opacity 300ms ease;*/
/*}*/

#contactMe {
    color: darkorange;
}

a.logoClass {
    text-decoration: none;
    padding: 10px;
}

.social-logo:hover {
    transform: scale(1.2);
}

a.fancyUnderline {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(blueviolet, blueviolet);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a.fancyUnderline:hover, a.fancyUnderline:focus {
    color: black;
    text-decoration: none;
    background-size: 100% 2px;
}



